#!/usr/bin/make -f
# -*- makefile -*-

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/utils.mk

# Don't strip
DEB_DH_STRIP_ARGS := -Xusr

RV=4.9

DEB_INSTALL_DOCS_ALL := README.memProbeAndPCI

define bsprule
build/$(1):: build-$(1:rtems-libbspext-%=%)
install/$(1):: install-$(1:rtems-libbspext-%=%)
endef

$(foreach p,$(DEB_ARCH_PACKAGES),$(eval $(call bsprule,$(p))))

build-%:

	$(MAKE) ARCH=x-$(@:build-%=%) RTEMS_MAKEFILE_PATH=/usr/powerpc-rtems$(RV)/$(@:build-%=%)

	touch $@

install-%::
	$(MAKE) ARCH=x-$(@:install-%=%) RTEMS_MAKEFILE_PATH=/usr/powerpc-rtems$(RV)/$(@:install-%=%) \
RTEMS_SITE_INSTALLDIR=$(CURDIR)/debian/tmp/usr/powerpc-rtems$(RV)/$(@:install-%=%) \
INSTINCDIR=$(CURDIR)/debian/tmp/usr/powerpc-rtems$(RV)/$(@:install-%=%)/lib/include \
install

clean::
	rm -f build-*
	rm -rf x-*
