#!/usr/bin/make -f
# -*- makefile -*-

export DH_VERBOSE=1

# eg. "4.9"
RV=$(shell cat /usr/share/rtems-common/series)

%:
	dh $@ --with rtems

override_dh_auto_clean:
	rm -f build-*
	rm -rf x-*

# $1 is BSP name (eg. "mvme3100")
buildcmd = $(MAKE) ARCH=x-$1 RTEMS_MAKEFILE_PATH=/usr/powerpc-rtems$(RV)/$1

override_dh_auto_build:
	$(call buildcmd,mvme2100)
	$(call buildcmd,mvme2307)
	$(call buildcmd,mvme3100)
	$(call buildcmd,mvme5500)

override_dh_auto_test: # noop

installcmd = $(MAKE) ARCH=x-$1 RTEMS_MAKEFILE_PATH=/usr/powerpc-rtems$(RV)/$1 \
 RTEMS_SITE_INSTALLDIR=$(CURDIR)/debian/tmp/usr/powerpc-rtems$(RV)/$1 \
 INSTINCDIR=$(CURDIR)/debian/tmp/usr/powerpc-rtems$(RV)/$1/lib/include \
install

override_dh_auto_install:
	$(call installcmd,mvme2100)
	$(call installcmd,mvme2307)
	$(call installcmd,mvme3100)
	$(call installcmd,mvme5500)

override_dh_install:
	dh_install --fail-missing
